GF_FEATURE_TOGGLES_ENABLE='flameGraph traceqlSearch traceQLStreaming correlations metricsSummary traceqlEditor traceToMetrics traceToProfiles datatrails'
GF_INSTALL_PLUGINS=grafana-lokiexplore-app,grafana-exploretraces-app,grafana-pyroscope-app
GF_PATHS_PROVISIONING=/etc/grafana/provisioning
GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_DISABLE_LOGIN_FORM=true