# email-provider
MP_DATABASE=/data/mailpit.db
MP_LOG_FILE=/data/logs/mailpit.log
MP_UI_BIND_ADDR=0.0.0.0:1080
MP_UI_AUTH='admin@email-provider.com:changeit'
MP_SEND_API_AUTH='sender@email-provider.com:changeit'